// Fixed bar
// Height of welcome section = height of viewport

$color-one: rgb(190, 49, 68);
$color-two: rgb(43, 45, 47);
$color-three: rgb(69, 86, 125);
$color-four: rgb(48, 56, 65);

*,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffff;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-one;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-it {
  color: white;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.welcomesection {
  background-color: $color-two;
  height: 100vmin;

  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    .mimic {
      font-size: 3.5rem;
    }
    .web-developer {
      font-weight: lighter;
      font-style: italic;
      color: $color-one;
      font-size: 2rem;
    }
  }
}

#projects {
  background-color: $color-three;
  padding-bottom: 4rem;
}

.project-title {
  text-align: center;
  font-size: 2.4rem;
  width: 100%;
  max-width: 70%;
  margin: auto;
  line-height: 3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.project-tile {
  @media screen and (min-width: 768px) {
    padding: 0 20px 20px;
  }
}

.horizontal {
  margin: 0 auto;
  background-color: #fff;
  height: 0.15rem;
  margin-bottom: 4.5em;
  border: none;
  width: 50%;
}

.inner-2 {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

img {
  width: 100%;
  max-width: 22.22rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  margin-top: 3rem;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 100%;
    // max-width: 22.22rem;
    object-fit: cover;
    height: 22.22rem;
    // max-height: 22.2rem;
  }
}

img:hover {
  // opacity: 0.3;
  transition: ease 1s;
  background-color: rgba (0, 0, 0, 0.6);
}

.page-desc {
  background-color: $color-four;
  width: 100%;
  max-width: 22.22rem;
  margin-bottom: 7rem;
  height: 3rem;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 22.22rem;
  }
}

.btn-show {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  background-color: $color-four;
  border: none;
  color: #fff;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;

  .fa-arrow-right {
    padding-left: 0.7rem;
  }
}

.social {
  background-color: $color-four;
  padding-top: 4rem;
  .lets-work {
    text-align: center;
    max-width: 60%;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
  }
  .coffee {
    text-align: center;
    padding: 1rem 0;
    font-style: italic;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0 auto;
    margin-top: 2rem;

    .fab,
    .fas {
      font-size: 1.3rem;
      margin: 0 0.5rem 0 2rem;
    }
  }
}

.horizontal-two {
  background-color: $color-one;
  height: 0.15rem;
  border: none;
  margin: 3rem 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 3rem;
}
