*,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffff;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #be3144;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-it {
  color: white;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.welcomesection {
  background-color: #2b2d2f;
  height: 100vmin;
}

.welcomesection .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.welcomesection .inner .mimic {
  font-size: 3.5rem;
}

.welcomesection .inner .web-developer {
  font-weight: lighter;
  font-style: italic;
  color: #be3144;
  font-size: 2rem;
}

#projects {
  background-color: #45567d;
  padding-bottom: 4rem;
}

.project-title {
  text-align: center;
  font-size: 2.4rem;
  width: 100%;
  max-width: 70%;
  margin: auto;
  line-height: 3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.horizontal {
  margin: 0 auto;
  background-color: #fff;
  height: 0.15rem;
  margin-bottom: 4.5em;
  border: none;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .inner-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

img {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 3rem;
}

@media screen and (min-width) {
  img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.page-desc {
  background-color: #303841;
  width: 100%;
  padding-top: 1rem;
  max-width: 90%;
  margin-bottom: 7rem;
  height: 3rem;
  margin: 0 auto;
  text-align: center;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.btn-show {
  padding: 1rem 2.5rem 1rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #303841;
  border: none;
  color: #fff;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

.social {
  background-color: #303841;
  padding-top: 4rem;
}

.social .lets-work {
  text-align: center;
  max-width: 60%;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
}

.social .coffee {
  text-align: center;
  padding: 1rem 0;
  font-style: italic;
}

.social .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
}

.social .social-icon .fab,
.social .social-icon .fas {
  font-size: 1.3rem;
  padding-right: 2rem;
}

.horizontal-two {
  background-color: #be3144;
  height: 0.15rem;
  border: none;
  margin: 3rem 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  padding: 3rem;
}
/*# sourceMappingURL=main.css.map */